@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700&display=swap" );
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    -webkit-font-smoothing: antialiased;
    font-family: 'Satoshi', sans-serif;
    -webkit-tap-highlight-color: none;
}

.dark {
    background-color:#0d1117;
    color: #c9d1d9;
}

.light{
    background-color: inherit;
    color: #0d1117;
   

}

code {
  
    color: #f8f8f2; /* Light text */
    padding: 4px 8px;
    border-radius: 4px;
    font-family: 'Courier New', monospace;
}
pre {
    background-color: #282c34; /* Darker background for pre blocks */
    padding: 12px;
    border-radius: 6px;
    overflow-x: auto;
}

